.notification-icon {
  position: relative;
  .notification-count {
    position: absolute;
    top: 0;
    right: -2px;
    height: 18px;
    width: 18px;
    font-size: 9px;
    background: #dc3545;
    color: white;
    padding: 3px;
    border-radius: 50%;
    font-weight: 700;
  }
}

.header-logo{
  font-weight: 700;
  font-size: 24px;
  color: black;
}